<div class="window">
  <header class="toolbar toolbar-header">
    <h1 class="title">catapult</h1>

    <div class="toolbar-actions">


      <button class="btn btn-default btn-dropdown pull-right">
        <span class="icon icon-megaphone"></span>
      </button>


      <div class="btn-group pull-right">

        <button class="btn btn-default">
          <span class="icon icon-folder"></span>
        </button>
        <button class="btn btn-default active">
          <span class="icon icon-cloud"></span>
        </button>
        <button class="btn btn-default">
          <span class="icon icon-popup"></span>
        </button>

      </div>
      <button class="btn btn-default pull-right">
        <span class="icon icon-home icon-text"></span>
        Filters
      </button>
    </div>
  </header>
  <div class="window-content">
    <div class="pane-group">
      <div class="pane-sm sidebar">
        <nav class="nav-group">
          <h5 class="nav-group-title"></h5>
          <a [routerLink]=" ['./'] " class="nav-group-item active">
            <span class="icon icon-home"></span>
            Own Projects
          </a>
          <a class="nav-group-item">
            <span class="icon icon-download"></span>
            Shared Projects
          </a>
          <a  [routerLink]=" ['./friends'] "class="nav-group-item">
            <span class="icon icon-users"></span>
            Friends
          </a>
          <a [routerLink]=" ['./messages'] " class="nav-group-item">
            <span class="icon icon-mail"></span>
            Messages
          </a>
          <a [routerLink]=" ['./preferences'] " class="nav-group-item">
            <span class="icon icon-cog"></span>
            Settings
          </a>
        </nav>
      </div>
      <div class="pane">
        <main>
          <router-outlet></router-outlet>
        </main>
      </div>
    </div>
  </div>
  <footer class="toolbar toolbar-footer">
    <h1 class="title">alpha build #20170909T192309</h1>
  </footer>
</div>
